#projects{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    min-height: 30%;
    border: 1px solid black;
    margin: 2%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
}

#projects-heading{
    text-align: center;
}

#action-buttons > button{
    margin: 1%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(125, 125, 125);
    width: 25%;
    height: 100%;
}