#skills{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    box-sizing: border-box;
}

#skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:90%;
    height: 30%;
    border: 1px solid black;
    margin: 2%;
    padding: 1%;
    box-sizing: border-box;
}

img{
    height: 50px;
    width: 50px;
    margin: 2%;
}