#intro{
    height: 100vh;
    width: 100%;
    background-color: rgb(206, 214, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-sub-section{
    box-sizing: border-box;
    margin: 2%;
}

#intro-sub-section-1{
    height: 80%;
    width: 50%;
    padding: 8%;
}

#intro-sub-section-1 > h1{
    font-size: 100px;
    margin: 0;
}

#intro-sub-section-1 > h4{
    margin: 0;
    color: rgb(70, 70, 70);
    margin-top: 3%;
}

#intro-sub-section-1 > h1, #intro-sub-section-1 > h4{
   display: block;
}

#intro-sub-section-2{
    height: 70%;
    width: 35%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-sub-section-2 > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}