*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body,#root{
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}